<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="coverplugin.CoveragePluginStarter">
      </startup>
   </extension>
 <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.lightgreen"
            colorPreferenceKey="colorAnnotationLightGreen_color"
            colorPreferenceValue="166, 255, 201"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationLightGreen_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_LightGreen"
            overviewRulerPreferenceKey="colorAnnotationLightGreen_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationLightGreen_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationLightGreen_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationLightGreen_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.darkgreen"
            colorPreferenceKey="colorAnnotationDarkGreen_color"
            colorPreferenceValue="164, 228, 148"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationDarkGreen_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_DarkGreen"
            overviewRulerPreferenceKey="colorAnnotationDarkGreen_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationDarkGreen_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationDarkGreen_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationDarkGreen_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      
      % colors for interactions
      % see: http://webbausteine.de/blog/tools/farbverlauf.php#form
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_0"
            colorPreferenceKey="colorAnnotationInteraction_0_color"
            colorPreferenceValue="255, 255, 128"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationInteraction_0_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Interaction_0"
            overviewRulerPreferenceKey="colorAnnotationInteraction_=_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationInteraction_0_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationInteraction_0_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationInteraction_0_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_1"
            colorPreferenceKey="colorAnnotationinteraction_1_color"
            colorPreferenceValue="255, 246, 131"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_1_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_1"
            overviewRulerPreferenceKey="colorAnnotationinteraction_1_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_1_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_1_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_1_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_2"
            colorPreferenceKey="colorAnnotationinteraction_2_color"
            colorPreferenceValue="255, 236, 134"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_2_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_2"
            overviewRulerPreferenceKey="colorAnnotationinteraction_2_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_2_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_2_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_2_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_3"
            colorPreferenceKey="colorAnnotationinteraction_3_color"
            colorPreferenceValue="255, 227, 138"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_3_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_3"
            overviewRulerPreferenceKey="colorAnnotationinteraction_3_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_3_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_3_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_3_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_4"
            colorPreferenceKey="colorAnnotationinteraction_4_color"
            colorPreferenceValue="255, 217, 141"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_4_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_4"
            overviewRulerPreferenceKey="colorAnnotationinteraction_4_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_4_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_4_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_4_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_5"
            colorPreferenceKey="colorAnnotationinteraction_5_color"
            colorPreferenceValue="255, 208, 144"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_5_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_5"
            overviewRulerPreferenceKey="colorAnnotationinteraction_5_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_5_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_5_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_5_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_6"
            colorPreferenceKey="colorAnnotationinteraction_6_color"
            colorPreferenceValue="255, 198, 147"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_6_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_6"
            overviewRulerPreferenceKey="colorAnnotationinteraction_6_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_6_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_6_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_6_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_7"
            colorPreferenceKey="colorAnnotationinteraction_7_color"
            colorPreferenceValue="255, 189, 150"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_7_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_7"
            overviewRulerPreferenceKey="colorAnnotationinteraction_7_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_7_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_7_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_7_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_8"
            colorPreferenceKey="colorAnnotationinteraction_8_color"
            colorPreferenceValue="255, 179, 154"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_8_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_8"
            overviewRulerPreferenceKey="colorAnnotationinteraction_8_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_8_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_8_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_8_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_9"
            colorPreferenceKey="colorAnnotationinteraction_9_color"
            colorPreferenceValue="255, 170, 157"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_9_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_9"
            overviewRulerPreferenceKey="colorAnnotationinteraction_9_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_9_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_9_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_9_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_10"
            colorPreferenceKey="colorAnnotationinteraction_10_color"
            colorPreferenceValue="255, 160, 160"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_10_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_10"
            overviewRulerPreferenceKey="colorAnnotationinteraction_10_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_10_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_10_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_10_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
      % positive colors
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-1"
            colorPreferenceKey="colorAnnotationinteraction_-1_color"
            colorPreferenceValue="198, 238, 231"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-1_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-1"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-1_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-1_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-1_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-1_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-2"
            colorPreferenceKey="colorAnnotationinteraction_-2_color"
            colorPreferenceValue="180, 232, 229"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-2_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-2"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-2_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-2_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-2_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-2_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-3"
            colorPreferenceKey="colorAnnotationinteraction_-3_color"
            colorPreferenceValue="162, 227, 228"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-3_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-3"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-3_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-3_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-3_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-3_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-4"
            colorPreferenceKey="colorAnnotationinteraction_-4_color"
            colorPreferenceValue="144, 221, 226"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-4_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-4"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-4_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-4_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-4_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-4_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-5"
            colorPreferenceKey="colorAnnotationinteraction_-5_color"
            colorPreferenceValue="126, 216, 225"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-5_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-5"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-5_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-5_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-5_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-5_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-6"
            colorPreferenceKey="colorAnnotationinteraction_-6_color"
            colorPreferenceValue="108, 210, 223"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-6_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-6"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-6_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-6_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-6_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-6_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-7"
            colorPreferenceKey="colorAnnotationinteraction_-7_color"
            colorPreferenceValue="89, 204, 221"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-7_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-7"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-7_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-7_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-7_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-7_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-8"
            colorPreferenceKey="colorAnnotationinteraction_-8_color"
            colorPreferenceValue="71, 199, 220"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-8_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-8"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-8_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-8_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-8_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-8_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-9"
            colorPreferenceKey="colorAnnotationinteraction_-9_color"
            colorPreferenceValue="53, 193, 218"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-9_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-9"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-9_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-9_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-9_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-9_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugin.interaction_-10"
            colorPreferenceKey="colorAnnotationinteraction_-10_color"
            colorPreferenceValue="35, 188, 217"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationinteraction_-10_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_interaction_-10"
            overviewRulerPreferenceKey="colorAnnotationinteraction_-10_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationinteraction_-10_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationinteraction_-10_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationinteraction_-10_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="coverageplugin.lightgreen">
      </type>
      <type
            name="coverageplugin.darkgreen">
      </type>
      
      <type
            name="coverageplugin.interaction_0">
      </type>
      <type
            name="coverageplugin.interaction_1">
      </type>
      <type
            name="coverageplugin.interaction_2">
      </type>
      <type
            name="coverageplugin.interaction_3">
      </type>
      <type
            name="coverageplugin.interaction_4">
      </type>
      <type
            name="coverageplugin.interaction_5">
      </type>
      <type
            name="coverageplugin.interaction_6">
      </type>
      <type
            name="coverageplugin.interaction_7">
      </type>
      <type
            name="coverageplugin.interaction_8">
      </type>
      <type
            name="coverageplugin.interaction_9">
      </type>
      <type
            name="coverageplugin.interaction_10">
      </type>
      <type
            name="coverageplugin.interaction_-1">
      </type>
      <type
            name="coverageplugin.interaction_-2">
      </type>
      <type
            name="coverageplugin.interaction_-3">
      </type>
      <type
            name="coverageplugin.interaction_-4">
      </type>
      <type
            name="coverageplugin.interaction_-5">
      </type>
      <type
            name="coverageplugin.interaction_-6">
      </type>
      <type
            name="coverageplugin.interaction_-7">
      </type>
      <type
            name="coverageplugin.interaction_-8">
      </type>
      <type
            name="coverageplugin.interaction_-9">
      </type>
      <type
            name="coverageplugin.interaction_-10">
      </type>
   </extension>
</plugin>
