<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="coverplugin.CoveragePluginStarter">
      </startup>
   </extension>
 <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.red"
            colorPreferenceKey="colorAnnotationRed_color"
            colorPreferenceValue="255, 175, 177"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationRed_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Red"
            overviewRulerPreferenceKey="colorAnnotationRed_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationRed_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationRed_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationRed_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.aquamarine2"
            colorPreferenceKey="colorAnnotationaquamarine2_color"
            colorPreferenceValue="118,	238,	198"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationaquamarine2_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_aquamarine2"
            overviewRulerPreferenceKey="colorAnnotationaquamarine2_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationaquamarine2_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationaquamarine2_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationaquamarine2_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.orange"
            colorPreferenceKey="colorAnnotationOrange_color"
            colorPreferenceValue="255, 216, 166"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationOrange_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Orange"
            overviewRulerPreferenceKey="colorAnnotationOrange_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationOrange_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationOrange_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationOrange_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.yellow"
            colorPreferenceKey="colorAnnotationYellow_color"
            colorPreferenceValue="237, 255, 166"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationYellow_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Yellow"
            overviewRulerPreferenceKey="colorAnnotationYellow_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationYellow_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationYellow_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationYellow_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.darkgreen"
            colorPreferenceKey="colorAnnotationDarkGreen_color"
            colorPreferenceValue="164, 228, 148"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationDarkGreen_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_DarkGreen"
            overviewRulerPreferenceKey="colorAnnotationDarkGreen_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationDarkGreen_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationDarkGreen_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationDarkGreen_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.lightgreen"
            colorPreferenceKey="colorAnnotationLightGreen_color"
            colorPreferenceValue="166, 255, 201"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationLightGreen_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_LightGreen"
            overviewRulerPreferenceKey="colorAnnotationLightGreen_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationLightGreen_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationLightGreen_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationLightGreen_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.cyan"
            colorPreferenceKey="colorAnnotationCyan_color"
            colorPreferenceValue="163, 251, 251"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationCyan_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Cyan"
            overviewRulerPreferenceKey="colorAnnotationCyan_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationCyan_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationCyan_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationCyan_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.lightgrey"
            colorPreferenceKey="colorAnnotationLightGrey_color"
            colorPreferenceValue="228, 228, 228"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationLightGrey_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_LightGrey"
            overviewRulerPreferenceKey="colorAnnotationLightGrey_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationLightGrey_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationLightGrey_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationLightGrey_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.blue"
            colorPreferenceKey="colorAnnotationBlue_color"
            colorPreferenceValue="000	,191,	255	"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationBlue_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Blue"
            overviewRulerPreferenceKey="colorAnnotationBlue_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationBlue_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationBlue_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationBlue_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.margenta"
            colorPreferenceKey="colorAnnotationMargenta_color"
            colorPreferenceValue="240, 166, 255"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationMargenta_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Margenta"
            overviewRulerPreferenceKey="colorAnnotationMargenta_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationMargenta_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationMargenta_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationMargenta_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.pink"
            colorPreferenceKey="colorAnnotationPink_color"
            colorPreferenceValue="228, 148, 194"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationPink_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_Pink"
            overviewRulerPreferenceKey="colorAnnotationPink_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationPink_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationPink_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationPink_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.mediumpurple"
            colorPreferenceKey="colorAnnotationMediumPurple_color"
            colorPreferenceValue="180,	150,	255"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationMediumPurple_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_MediumPurple"
            overviewRulerPreferenceKey="colorAnnotationMediumPurple_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationMediumPurple_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationMediumPurple_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationMediumPurple_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationImageProvider="coverplugin.ColorAnnotationImageProvider"
            annotationType="coverageplugins.gold1"
            colorPreferenceKey="colorAnnotationgold1_color"
            colorPreferenceValue="255,	215,	000"
            contributesToHeader="false"
            highlightPreferenceKey="colorAnnotationgold1_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="ColorAnnotation_gold1"
            overviewRulerPreferenceKey="colorAnnotationgold1_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="colorAnnotationgold1_text"
            textPreferenceValue="true"
            textStylePreferenceKey="colorAnnotationgold1_textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="colorAnnotationgold1_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="coverageplugins.red">
      </type>
      <type
            name="coverageplugins.orange">
      </type>
      <type
            name="coverageplugins.yellow">
      </type>
      <type
            name="coverageplugins.darkgreen">
      </type>
      <type
            name="coverageplugins.lightgreen">
      </type>
      <type
            name="coverageplugins.lightgrey">
      </type>
      <type
            name="coverageplugins.cyan">
      </type>
      <type
            name="coverageplugins.blue">
      </type>
      <type
            name="coverageplugins.orange">
      </type>
      <type
            name="coverageplugins.margenta">
      </type>
      <type
            name="coverageplugins.pink">
      </type>
      <type
            name="coverageplugins.aquamarine2">
      </type>
       <type
            name="coverageplugins.mediumpurple">
      </type>
      	<type
            name="coverageplugins.gold1">
      </type> 
   </extension>
</plugin>
